.container text-center {
    width: 1500px;
    height: 100px;
    margin: 5px auto;
    max-width: 100%;
    background-color: #e0c90a;
}
.catalog{
    margin: 40px 100px auto;

}
.logo{
    display: flex;
    height: 90px;
}
.pok{    display: flex;
    margin: 24px
}
.pok2{ display: flex;
margin: 24px;
}

.item-img {
    max-width: 400px;
    border-radius: 5px;
}

.hover:hover {
    background-color: aliceblue;
}